
$color-black:           #000000;

$tfk-green:             #6ac4ae;
$tfk-turkis:            #00b1c7;
$tfk-red:               #e30438;
$tfk-yellow:            #ffd520;
$tfk-primary-dark:      lighten($color-black, 60%);

$color-primary:         $tfk-yellow;
$color-accent:          $tfk-green;