

$badge-background:              $color-primary;

/* ==========  Typography  ========== */

// We use the following default color styles: text-color-primary and
// text-color-secondary. For light themes, use text-color-primary-inverse
// and text-color-secondary-inverse.

$text-color-primary: rgba($color-black, .8);
$text-link-color: $color-accent;

// Define whether to target elements directly for typographic enhancements.
// Turning this off means you need to use mdl-* classes more often.
// Other components may also fail to adhere to MD without these rules.
// It is strongly recommended you leave this as true.

$target-elements-directly: true !default;

/* ==========  Components  ========== */

/* ==========  Standard Buttons  ========== */

// // Default button colors.
// $button-primary-color: unquote("rgba(#{$palette-grey-500}, 0.20)") !default;
// $button-secondary-color: unquote("rgb(#{$color-black})") !default;
// $button-hover-color: $button-primary-color !default;
// $button-active-color: unquote("rgba(#{$palette-grey-500}, 0.40)") !default;
// $button-focus-color: unquote("rgba(#{$color-black}, 0.12)") !default;

// // Colored button colors.
$button-primary-color-alt: $color-primary;
$button-secondary-color-alt: $color-black;
$button-hover-color-alt: $color-primary;
$button-active-color-alt: $color-primary;
// $button-focus-color-alt: $button-focus-color !default;

// // Ripple color for colored raised buttons.
// $button-ripple-color-alt: unquote("rgb(#{$color-primary-contrast})") !default;

// // Disabled button colors.
// $button-primary-color-disabled: unquote("rgba(#{$color-black}, 0.12)") !default;
// $button-secondary-color-disabled: unquote("rgba(#{$color-black}, 0.26)") !default;

// // FAB colors and sizes.
$button-fab-color-alt: $color-accent;
$button-fab-hover-color-alt: $color-accent;
$button-fab-active-color-alt: $color-accent;
// $button-fab-text-color-alt: unquote("rgb(#{$color-accent-contrast})") !default;
// $button-fab-ripple-color-alt: unquote("rgb(#{$color-accent-contrast})") !default;

// // Icon button colors and sizes.
// $button-icon-color: unquote("rgb(#{$palette-grey-700})") !default;
// $button-icon-focus-color: $button-focus-color !default;

// /* ==========  Icon Toggles  ========== */

// $icon-toggle-color: unquote("rgb(#{$palette-grey-700})") !default;
// $icon-toggle-focus-color: $button-focus-color !default;
// $icon-toggle-checked-color: unquote("rgb(#{$color-primary})") !default;
// $icon-toggle-checked-focus-color: unquote("rgba(#{$color-primary}, 0.26)") !default;
// $icon-toggle-disabled-color: unquote("rgba(#{$color-black}, 0.26)") !default;

// /* ==========  Radio Buttons  ========== */

$radio-color: $color-primary;
// $radio-off-color: unquote("rgba(#{$color-black}, 0.54)") !default;
// $radio-disabled-color: unquote("rgba(#{$color-black}, 0.26)") !default;

// /* ==========  Ripple effect  ========== */

// $ripple-bg-color: unquote("rgb(#{$color-light-contrast})") !default;

// /* ==========  Layout  ========== */

// $layout-nav-color: unquote("rgb(#{$palette-grey-300})") !default;

// // Drawer
// $layout-drawer-bg-color: unquote("rgb(#{$palette-grey-50})") !default;
// $layout-drawer-border-color: unquote("rgb(#{$palette-grey-300})") !default;
// $layout-text-color: unquote("rgb(#{$palette-grey-800})") !default;
// $layout-drawer-navigation-color: #757575 !default;
// $layout-drawer-navigation-link-active-background: unquote("rgb(#{$color-light-contrast})") !default;
// $layout-drawer-navigation-link-active-color: unquote("rgb(#{$palette-grey-300})") !default;

// // Header
// $layout-header-bg-color: unquote("rgb(#{$color-primary})") !default;
// $layout-header-text-color: unquote("rgb(#{$color-primary-contrast})") !default;
// $layout-header-nav-hover-color: unquote("rgba(#{$palette-grey-700}, 0.6)") !default;
// $layout-header-tab-text-color: unquote("rgba(#{$color-primary-contrast}, 0.6)") !default;

// // Tabs
// $layout-header-tab-highlight: unquote("rgb(#{$color-accent})") !default;

// /* ==========  Content Tabs  ========== */

// $tab-highlight-color: unquote("rgb(#{$color-primary})") !default;
// $tab-text-color: unquote("rgba(#{$color-black}, 0.54)") !default;
// $tab-active-text-color: unquote("rgba(#{$color-black}, 0.87)") !default;
// $tab-border-color: unquote("rgb(#{$palette-grey-300})") !default;

// /* ==========  Checkboxes  ========== */

$checkbox-color: $color-primary;
// $checkbox-off-color: unquote("rgba(#{$color-black}, 0.54)") !default;
// $checkbox-disabled-color: unquote("rgba(#{$color-black}, 0.26)") !default;
// $checkbox-focus-color: unquote("rgba(#{$color-primary}, 0.26)") !default;
// $checkbox-image-path: $image_path;

// /* ==========  Switches  ========== */

$switch-color: $color-primary;
// $switch-faded-color: unquote("rgba(#{$color-primary}, 0.26)") !default;
// $switch-thumb-color: $switch-color !default;
// $switch-track-color: unquote("rgba(#{$color-primary}, 0.5)") !default;

// $switch-off-thumb-color: unquote("rgb(#{$palette-grey-50})") !default;
// $switch-off-track-color: unquote("rgba(#{$color-black}, 0.26)") !default;
// $switch-disabled-thumb-color: unquote("rgb(#{$palette-grey-400})") !default;
// $switch-disabled-track-color: unquote("rgba(#{$color-black}, 0.12)") !default;

// /* ==========  Spinner  ========== */

// $spinner-color-1: unquote("rgb(#{$palette-blue-400})") !default;
// $spinner-color-2: unquote("rgb(#{$palette-red-500})") !default;
// $spinner-color-3: unquote("rgb(#{$palette-yellow-600})") !default;
// $spinner-color-4: unquote("rgb(#{$palette-green-500})") !default;

$spinner-single-color: $color-primary;

// /* ==========  Text fields  ========== */

// $input-text-background-color: transparent !default;
// $input-text-label-color: unquote("rgba(#{$color-black}, 0.26)") !default;
// $input-text-bottom-border-color: unquote("rgba(#{$color-black}, 0.12)") !default;
$input-text-highlight-color: $color-primary;
// $input-text-disabled-color: $input-text-bottom-border-color !default;
// $input-text-disabled-text-color: $input-text-label-color !default;
// $input-text-error-color: unquote("rgb(#{$palette-red-A700})") !default;

// /* ==========  Card  ========== */

// $card-background-color: unquote("rgb(#{$color-white})") !default;
// $card-text-color: unquote("rgb(#{$color-black})") !default;
$card-image-placeholder-color: $color-accent;
// $card-supporting-text-text-color: unquote("rgba(#{$color-black}, 0.54)") !default;
// $card-border-color: rgba(0,0,0,0.1) !default;
// $card-subtitle-color: unquote("rgba(#{$color-black}, 0.54)") !default;

// /* ==========  Sliders ========== */

// $range-bg-color: unquote("rgba(#{$color-black}, 0.26)") !default;
$range-color: $color-primary;
$range-faded-color: rgba($color-primary, .26);
// $range-bg-focus-color: unquote("rgba(#{$color-black}, 0.12)") !default;

// /* ========== Progress ========== */
$progress-main-color: $color-accent;
// $progress-secondary-color: unquote("rgba(#{$color-primary-contrast}, 0.7)") !default;
// $progress-fallback-buffer-color: unquote("rgba(#{$color-primary-contrast}, 0.9)") !default;
// $progress-image-path: $image_path;

// /* ==========  List ========== */

// $list-main-text-text-color: unquote("rgba(#{$color-black}, 0.87)") !default;
// $list-supporting-text-text-color: unquote("rgba(#{$color-black}, 0.54)") !default;
// $list-icon-color: unquote("rgb(#{$palette-grey-600})") !default;
// $list-avatar-color: white !default;

// /* ==========  Item ========== */

// // Default Item Colors
// $default-item-text-color: unquote("rgba(#{$color-black}, 0.87)") !default;
// $default-item-outline-color: unquote("rgb(#{$palette-grey-400})") !default;
// $default-item-hover-bg-color: unquote("rgb(#{$palette-grey-200})") !default;
// $default-item-focus-bg-color: unquote("rgb(#{$palette-grey-200})") !default;
// $default-item-active-bg-color: unquote("rgb(#{$palette-grey-300})") !default;
// $default-item-divider-color: unquote("rgba(#{$color-black}, 0.12)") !default;

// // Disabled Button Colors
// $disabled-item-text-color: unquote("rgb(#{$palette-grey-400})") !default;

// /* ==========  Dropdown menu ========== */

// $default-dropdown-bg-color: unquote("rgb(#{$color-white})") !default;

// /* ==========  Tooltips  ========== */

// $tooltip-text-color: unquote("rgb(#{$color-white})") !default;
// $tooltip-background-color: unquote("rgba(#{$palette-grey-700}, 0.9)") !default;

// /* ==========  Footer  ========== */

// $footer-bg-color: unquote("rgb(#{$palette-grey-800})") !default;
// $footer-color: unquote("rgb(#{$palette-grey-500})") !default;
// $footer-heading-color: unquote("rgb(#{$palette-grey-300})") !default;
// $footer-button-fill-color: $footer-color !default;
// $footer-underline-color: $footer-color !default;


